.App {
  text-align: center;
}

.plato {
  color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(116, 116, 119), 0 0 5px rgb(49, 49, 70);
}

#pleb{
  z-index: 1;

}

#pickApleb{
  z-index: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15%;
  width: 15%;
}

.App-header {
  background-image: linear-gradient(to right, rgba(17, 123, 245, 0.733) , rgba(222, 231, 179, 0.938));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
